<!DOCTYPE html>
<html>
  <head>
    <title>Mattun</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="mr-auto">
          <% if @current_user %>
          <%= link_to("Mattun", "/users/index", :class => "navbar-brand" ) %>
          <% else %>
          <%= link_to("Mattun", "/", :class => "navbar-brand") %>
          <% end %>
        </div>
        <ul class="navbar-nav">
          <% if @current_user %>
          <li class="nav-item">
            <%= link_to(@current_user.name, "/users/#{@current_user.id}", :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("ユーザー一覧", "/users/index", :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("ログアウト", "/logout", {:method => :post, :class => "nav-link"}) %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to("新規登録", "/", :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("ログイン", "/login", :class => "nav-link") %>
          </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
